
{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>

  <link rel="shortcut icon" type="imagex/png" href='/static/img/logoBRGi.png'> 
  {% for cliente in clientes %}
  <title>PROPOSTA - {{ cliente.nome }} - {{ proposta.Ordem}}</title>
  {% endfor %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <link rel="stylesheet" href="{% static 'css/style-proposta.css' %}">

</head>
<body>

</div> <!-- botao de enviar inicio.// -->
<aside class="col-lg-29">
        <div class="card-body">  
         <!--  <a href="{% url 'proposta_pdf' id=proposta.id %}"style="margin-top: 15px; margin-left: 1105px; margin-right: 15px;" class="btn btn-primary">Salvar preview PDF</a> -->
          <input type="button" style="margin-top: 15px; margin-left: 1105px; margin-right: 15px;" class="btn btn-primary" value="Gerar PDF " id="btnImprimir" onclick="CriaPDF()" />    
        </div> 
</aside>
</div> <!-- botao de enviar fim.// -->

<div id="tabela">

  <style>
    body {
      background-image: url("{% static 'img/raioamarelo.png' %}");
      background-size: 19cm 27.7cm;
      background-repeat: repeat;
    }
</style>

{% for cliente in clientes %}

<div id="geral">
    <div class="container">

        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12">
                <div class="img-logo">
                    <img src="{% static 'img/LogoBRG.png' %}" alt="">
                </div>
            </div>
        </div>
      </div>

      <p class="espaco">

        <font size="2"> <p> &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; &ensp;&ensp; &ensp; &ensp;&ensp; &ensp; &ensp;&ensp; <font size="3"> <strong>Anápolis,</strong> {{proposta.data|date:"d F Y"}}</p>  </font>  

        <h5> <br/> </h5>    

      <div class="row">

 <div class="container">
  <div class="col-100">
    {% if cliente.cnpj %} <strong>CLIENTE:</strong> {{ cliente.nome|upper }} &ensp;&ensp;&ensp;&ensp;  {% endif %} <br>
    {% if cliente.cnpj|length == 11 %} <strong>TELEFONE:</strong> {{ cliente.telefone_formatado_cliente|upper }} &ensp;&ensp;&ensp;&ensp; {% elif cliente.cnpj|length >= 14 %}  <strong>TELEFONE:</strong> {{ cliente.telefone|upper }} &ensp;&ensp;&ensp;&ensp; {% endif %} <br>
    {% if cliente.cnpj %} <strong> CEP: </strong> {{ cliente.CEP|upper  }} {% endif %} <br>
</div>
<div class="col-200">
{% if cliente.cnpj|length == 11 %}  <strong>CPF:</strong> {{ cliente.cpf_formatado|upper }}  {% elif cliente.cnpj|length >= 14 %}  <strong>CNPJ:</strong> {{ cliente.cnpj_formatado|upper }} {% endif %}  <br/> 
{% if cliente.cnpj %} <strong>EMAIL: </strong> <a href="mailto:{{ cliente.email }}">{{ cliente.email }}</a> {% endif %} <br/> 
{% if cliente.cnpj %}<strong>ENDEREÇO:</strong>{% if cliente.endereco %} {{ cliente.endereco|upper }}, {% endif %} {% if cliente.bairro %}{{ cliente.bairro|upper }}, {% endif %} {% if cliente.cidade %} {{ cliente.cidade|upper }} - {% endif %} {{ cliente.estado|upper  }}  {% endif %} <br>
</div>
</div>

    <h5> <br/> </h5>    
    <font size="3"> &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; &ensp;&ensp; &ensp; &ensp;&ensp; &ensp; &ensp;&ensp; <strong>PROPOSTA BRG Nº:</strong>  {% if proposta.Ordem %} {{proposta.Ordem}} {% else %}  {{ ordem }} {% endif %}   {{proposta.data|date:"y"}} REV-{{proposta.revisão}}</p> </font>

        {% endfor %}
      </div>
      </p>

      <h5> <br/> </h5>    

    {% for produto in produtos %}

    <div class="card-body">
      <p> 
          <font size="2"> <b> <h6 class="col-lg-50">REF.  <u>PROPOSTA DE GERADOR DE ENERGIA </u> </h5> </b> </p> </h6> </font>
          <font size="2">&ensp;&ensp;&ensp;&ensp; Em atenção às suas solicitações, apresentamos nossa proposta para fornecimento de Grupo Gerador marca  <b> BRG GERADORES</b>. </font> <br/>
      </p>
  </div>

  <p class="espaco">
    <h5> </h5>    

    <style>
      .container {
        display: flex;
      }
      .col-100 {
        flex: 1;
        padding: 10px;
      }
      .col-200 {
        flex: 1;
        padding: 10px;
      }
    </style>

  <div class="container">

    <div class="col-100">
      <b> MODELO </b> <br>
       <br/>   
      Tensão <br>
      Controlador <br>
      Quadro de comando <br>
      Silenciador <br>
      {% if produto.produto.Dimensoes%}
      Dimensões <br>
      {% endif %}
      {% if produto.produto.Peso%}
      Peso <br>
      {% endif %}
      {% if produto.Observacao %}
      Observação <br>
      {% endif %}
    </div>

    <div class="col-200">
      <b> {{produto.produto.Modelo_Gerador|upper}} </b> <br>
      <br/>   
      {{produto.Tensão_Gerador|upper }}  <br>
      {{produto.Controlador_Gerador|upper}} <br>
      {{produto.QTA_Gerador|upper}} <br>
      {{produto.produto.Silenciador_Gerador|upper}} <br>
      {{produto.produto.Dimensoes}} <br>
      {{produto.produto.Peso}} <br>
      {% if produto.Observacao %}
      {{produto.Observacao}} <br>
      {% endif %}
    </div>
  </div>

{% if personalizacao %}
  <div>
    <p class="per10 text-center">
      <center><img src="{{ img_personalizada.url }}"width=500 height=350></center>
      <center> <font size="3"> <h6 class="col-lg-40"> *Figura Ilustrativa <br/><br/> </h6>  </font> </center>
    </p>
</div>
</p>
{% else %}
<div>
  <p class="per10 text-center">
    <center><img src="{{ produto.produto.imagem.url }}"width=500 height=350></center>
    <center> <font size="3"> <h6 class="col-lg-40"> *Figura Ilustrativa <br/><br/> </h6>  </font> </center>
  </p>
</div>
</p>
{% endif %}

<div class="container">
  <div class="row">

<h5> <br/> </h5>     <!-- espaco entre linhas.// -->

<p class="espaco">
  <font size="4"> <font color="#a3dfa0"> <h6 class="col-lg-40"><b> Motor Diesel </b> <br/> </h6> </font> </font>
  <font size="2">
      Fabricante <b> {{produto.produto.Fabricante_Motor}} </b>, modelo <b> {{produto.produto.Modelo_Motor}} </b>, refrigeração por radiador
       com ventilador no eixo, partida elétrica por motor de
      arranque, alternador para carga de bateria(s), sensores de temperatura da água e pressão do óleo e filtros substituíveis.
  </font>
</p>

<p class="espaco">
      <font size="4"> <font color="#a3dfa0"> <h6 class="col-lg-40">Gerador Síncrono <br/> </h6> </font> </font>
      <font size="2">
          Alternador WEG, sem escovas (Brushless), auto-ventilado com ventilador montado no eixo, quatro pólos, trifásico, classe
          de isolação e elevação de temperatura H, acoplamento por discos flexíveis, enrolamento do estator com passo encurtado,
          excitatriz rotativa alimentada por bobina auxiliar e regulador eletrônico de tensão instalado na caixa de ligação do gerador.
        </font> 
</p>

<p class="espaco">

  <font size="4"> <font color="#a3dfa0"> <h6 class="col-lg-40">Painel de Força <br/> </h6> </font> </font>
  <font size="2">
  Painel de aço carbono montado na base do grupo gerador, com sistema de controle <b> {{ produto.Controlador_Gerador}} ({{ produto.QTA_Gerador}}) </b>, com 
  controle de partida e parada, proteções do motor e alternador, visor digital indicando as principais grandezas
  mecânicas e elétricas e demais acessórios de montagem. Acessórios de montagem painel elétrico. <br/>
  Composto por disjuntor de proteção tripolar, fixo, instalado junto ao painel de comando em compartimento separado atendendo a NR 10, 
  dimensionado para a proteção da instalação contra curtocircuito e sobrecargas elétricas. 
</font> 
</p>

{% if 'Slim' in produto.produto.Modelo_Gerador.Gerador %}
<p class="espaco">
  <font size="4"> <font color="#a3dfa0"> <h6 class="col-lg-40">Carenagem <br/> </h6> </font> </font>
  <font size="2">
      Fabricada em chapas de perfis de aço carbono, com pintura eletrostática a pó em todas as partes metálicas, com resistência
      para instalação ao tempo. Possui isolamento acústico através de lãs de vidro com tecido de véu preto, material que permite
      fácil limpeza. Atenuador(es) de ruídos montado(s) para a correta ventilação do grupo gerador, reduzindo o nível de ruído
      para <b> {{produto.Nivel_de_ruído }} </b> do Grupo Gerador.
    </font> 
</p>
{% elif 'Twingen' in produto.produto.Modelo_Gerador.Gerador %}
<p class="espaco">
  <font size="4"> <font color="#a3dfa0"> <h6 class="col-lg-40">Carenagem <br/> </h6> </font> </font>
  <font size="2">
      Fabricada em chapas de perfis de aço carbono, com pintura eletrostática a pó em todas as partes metálicas, com resistência
      para instalação ao tempo. Possui isolamento acústico através de lãs de vidro com tecido de véu preto, material que permite
      fácil limpeza. Atenuador(es) de ruídos montado(s) para a correta ventilação do grupo gerador, reduzindo o nível de ruído
      para <b> {{produto.Nivel_de_ruído }} </b> do Grupo Gerador.
    </font> 
</p>
{% elif 'Twin' in produto.produto.Modelo_Gerador.Gerador %}
<p class="espaco">
  <font size="4"> <font color="#a3dfa0"> <h6 class="col-lg-40">Carenagem <br/> </h6> </font> </font>
  <font size="2">
      Fabricada em chapas de perfis de aço carbono, com pintura eletrostática a pó em todas as partes metálicas, com resistência
      para instalação ao tempo. Possui isolamento acústico através de lãs de vidro com tecido de véu preto, material que permite
      fácil limpeza. Atenuador(es) de ruídos montado(s) para a correta ventilação do grupo gerador, reduzindo o nível de ruído
      para <b> {{produto.Nivel_de_ruído }} </b> do Grupo Gerador.
    </font> 
</p>
{% elif 'BRG' in produto.produto.Modelo_Gerador.Gerador %}
<!-- alvenaria nao faz nada -->
{% endif %}

 <p class="espaco">

 <font size="4"> <font color="#a3dfa0"> <h6 class="col-lg-40">Acessórios inclusos <br/> </h6> </font> </font>
 <font size="2">
 * Base resistente em aço carbono dobrada em vigas U enrijecido. <br/>
 * Içamento {{produto.produto.Içamento}}<br/>    <!--   Duplo içamento  -->
 * Abastecimento externo <br/>  <!--   Abastecimento externo  -->
 * Painel Incorporado a carenagem <br/>
 * Acesso externo para painel de potência e controle, com fácil conexão de cabos. <br/>
 * Coxins intermediários para assegurar o isolamento de vibração. <br/>
 * Acoplamento do motor com o gerador tipo acoplamento elástico. <br/>
 * Tanque de {{produto.produto.Tanque_de_combustivel}} <br/>    <!--  litros   -->
 * Bandeja de contenção para combustível, líquido de arrefecimento e óleo do motor <br/>
 * Pré filtro de combustível com separador de água <br/>
 * {{ produto.produto.Silenciador_Gerador}} <br/>  <!-- Silenciador de ruídos hospitalar  -->
</font> 
</p>

<p class="espaco">

<font size="4"> <font color="#a3dfa0"> <h6 class="col-lg-40">DEMAIS CONDIÇÕES COMERCIAIS <br/> </h6> </font> </font>
<font size="2">
O escopo de fornecimento BRG Geradores refere-se somente ao descrito acima. Não nos responsabilizamos por eventuais
problemas causados pelo dimensionamento do grupo gerador ofertado, tendo em vista que este dimensionamento foi
definido pelo cliente ou por terceiro a sua ordem. <br/>

<h5>  </h5>     <!-- espaco entre linhas.// -->
<b>Instalação:</b> Não faz parte do escopo de fornecimento quaisquer materiais ou serviços destinados à instalação do(s)
    equipamento(s) 

<h5>  </h5>     <!-- espaco entre linhas.// -->
<b>Entrega técnica e garantia:</b> O primeiro funcionamento em campo deverá ser efetuado por um técnico credenciado, para
validação da garantia do equipamento. Para realização de entrega técnica e atendimentos em garantia, as despesas de
deslocamento, viagem, estadia e alimentação, para um raio de atendimento superior à 50 Km da base de atendimento,
correrão por conta do cliente, exceto, a entrega técnica quando esta estiver listada juntamente com a proposta comercial
abaixo descrita no ítem Resumo dos Investimentos. 

<h5> </h5>     <!-- espaco entre linhas.// -->
<b> <blockquote>Garantia:</b>  A garantia será de 12 (doze) meses a partir da emissão da Nota Fiscal de venda do(s) equipamento(s). Em
Regime Prime, não terá limite de horas trabalhadas; sendo utilizada para Regime de Emergência deverá ser respeitado o
limite de até 200 horas. </blockquote>
</font> 
</p>
<h5> <br/> </h5>    

{% endfor %}

<h5> <br/> <br/> </h5>     <!-- espaco entre linhas.// -->

<p class="espaco">

  <font size="4"> <font color="black"> <h6 class="col-lg-40">DESCRIÇÃO DOS INVESTIMENTOS <br/> </h6> </font> </font>

<font size="3">

  {% load humanize %}
  {% load format %}

        <div class="invoice-items">
            <div class="table-responsive" style="overflow: hidden; outline: none;" tabindex="0">
                <table class="table table-bproposta_baseed">
                    <thead>
                        <tr>
                            <th class="per10 text-center">Produto</th>
                            <th class="per5 text-center">QTDE</th>
                            <th class="per20 text-center">Preço parcial</th>
                            <th class="per20 text-center">Preço final</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for produto in produtos %}
                        <tr>
                            <td>
                              <p class="text-muted small">
                                                    GERADOR, Marca BRG GERADORES, <br/>
                                                    modelo {{ produto.produto.Modelo_Gerador|default_if_none:" "}}  <br>
                                      </p>
                            </td>
                            <td class="text-center">{{produto.quantidade_Gerador}}</td>
                      <!--  <td class="text-center"> {{produto.soma_quantidade_gerador|currency}} </td>  -->
                            <td class="text-center"> {{produto.soma_quantidade_gerador}} </td>  
                      <td class="text-center"> {{produto.soma_gerador|currency}} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr> 
                          {% if proposta.Valor_Instalação > 0 %}
                          <td colspan="1" class="text-muted small">INSTALAÇÃO E START UP</td>
                                <td class="text-center">{{produto.quantidade_Gerador}}</td>
                         <!--       <td class="text-center"> {{proposta.Valor_Instalação|currency}}</td>
                                    <td class="text-center"> {{proposta.Valor_Instalação|currency}}</td>    -->
			         <td class="text-center"> {{proposta.Valor_Instalação}}</td>
                                    <td class="text-center"> {{proposta.Valor_Instalação}}</td>

                                    {% endif %}
                                    </tr>
                        <tr>
                          {% if proposta.Frete > 0 %}
                          <td colspan="1" class="text-muted small">FRETE:</td>
                            <td class="text-center">{{produto.quantidade_Gerador}}</td>
                         <!--  <td class="text-center">{{proposta.Frete|currency}}</td>
                              <td class="text-center"> {{proposta.Frete|currency}}</td>   -->
			   <td class="text-center">{{proposta.Frete}}</td>
                              <td class="text-center"> {{proposta.Frete}}</td>

                          {% endif %}
                        </tr>
                        <tr>
                            <td class="text-right"> </th>
                            <th colspan="1" class="text-right">  </th>
                            <th class="text-center"> PREÇO TOTAL: </th>

                          {% if proposta.Frete > 0 and proposta.Valor_Instalação > 0 %}
                    <!--      <th class="text-center">{{ soma_total|currency }}</th> -->
                          <th class="text-center">{{ soma_total}}</th>

                          {% elif proposta.Frete > 0 %}
                     <!--       <th class="text-center"> {{soma_frete|currency}} </th>  -->
                            <th class="text-center"> {{soma_frete}} </th>

                          {% elif proposta.Valor_Instalação > 0 %}
                     <!--       <th class="text-center"> {{soma_instalacao|currency}} </th>   -->
                            <th class="text-center"> {{soma_instalacao}} </th>
                          {% else %}
                       <!--     <th class="text-center"> {{soma_gerador|currency}} </th>   -->
                            <th class="text-center"> {{soma_gerador}} </th>
                            {% endif %}                            
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
      </p>
    </font> 
    <h5> <br/> </h5>    

      <p class="espaco">
<font size="2">

      <b>- IMPOSTOS</b> &ensp;&ensp;&ensp;&ensp;&ensp; &ensp;&ensp;&ensp;&ensp;&ensp; &ensp;&ensp;&ensp;&ensp;&ensp; &ensp;&ensp;&ensp;&ensp;	Inclusos: <br/>
      &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; &ensp;&ensp;&ensp;&ensp;&ensp; &ensp;&ensp;&ensp;&ensp;&ensp; &ensp;&ensp;&ensp;&ensp;&ensp;ICMS: 17% para Goiás e 12 % demais estados <br/>
      &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; &ensp;&ensp;&ensp;&ensp;&ensp; &ensp;&ensp;&ensp;&ensp;&ensp; &ensp;&ensp;&ensp;&ensp;&ensp;PIS/COFINS: 9,25 % <br/>
      &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; &ensp;&ensp;&ensp;&ensp;&ensp; &ensp;&ensp;&ensp;&ensp;&ensp; &ensp;&ensp;&ensp;&ensp;&ensp;IPI – 0% (Isento, conforme Decreto nº 5.468, de 15 de junho de 2005) <br/> <br/>
      <b>- CONDIÇÕES PAGAMENTO</b> &ensp;&ensp;&ensp;&ensp;&ensp; <td class="text-center"> {{proposta.Condições_de_Pagamento}}   </th> <br/> <br/>
        {% if proposta.Frete > 0 %}
        <b>- LOCAL DE ENTREGA</b> &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;{{proposta.cliente.cidade}}, {{proposta.cliente.estado}}<br/> <br/>
      {% endif %}
  <b>- PRAZO DE ENTREGA</b> &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; <b>{{proposta.get_Prazo_de_Entrega_display}}</b> a partir da assinatura do contrato de compra e venda (a confirmar no fechamento da compra) <br/> <br/> 
  {% if proposta.Frete > 0 %}
  <b>- CONDIÇÕES DE ENTREGA</b> &ensp;&ensp;&ensp;&ensp;&ensp; <b>CIF</b><br/>  <br/>
  {% else %}
  <b>- CONDIÇÕES DE ENTREGA</b> &ensp;&ensp;&ensp;&ensp;&ensp; <b>FOB - Anápolis-GO</b><br/>  <br/>
  {% endif %}
  {% if personalizacao %}
  <b>- OBS. PERSONALIZAÇÃO</b> &ensp;&ensp;&ensp;&ensp;&ensp;&ensp; <b>{{obs_personalizada}}</b><br/>  <br/>
  {% endif %}

</p>
</font> 

<h5></h5>     <!-- espaco entre linhas.// -->

<p class="espaco">

  <font size="2.5">
<h6 class="col-lg-40"> - VALIDADE DA PROPOSTA &ensp;&ensp;&ensp; {{proposta.get_validade_display}} <br/> </h6>
</font> 

<font size="2">
 
Os preços e condições apresentadas nesta proposta foram elaborados considerando a política de comercialização da
validade da corrente proposta, podendo sofrer alterações ou modificações de preço e prazo devido a mudança nas
alíquotas de impostos, ajustes no preço dos insumos, substituição de componentes na linha de montagem ou ainda
desabastecimento de insumos/componentes no mercado, prevalecendo para todos os efeitos, os preços e condições
praticados na data do faturamento. Em caso de reajuste de insumos, a BRG GERADORES se reserva o direito de
renegociar e enviar ao cliente o percentual aplicado pelo fornecedor do insumo, de modo a manter equilíbrio do negócio
em questão. <br/>

A <b>BRG GERADORES</b>, através de seus distribuidores autorizados, engenheiros e técnicos especializados, estão a
disposição, para uma visita técnica, quando esclarecimentos complementares serão apresentados, e poderemos em
conjunto, dar continuidade aos levantamentos básicos necessários para a melhor adequação de nossos projetos ás
necessidades de V.Sas. <br/>

<h5> <br/> </h5>     <!-- espaco entre linhas.// -->

Antecipamos nossos agradecimentos pela atenção que nos for dispensada, e permanecemos à disposição para os
esclarecimentos que se fizerem necessários. <br/>

<h5>  </h5>     <!-- espaco entre linhas.// -->

Cordialmente,  <br/>

<br/>

{{ user.get_full_name  }}<br/>

{{ request.user.userprofile.Cargo }}<br/>

{{ request.user.userprofile.telefone_formatado }}<br/>

<a href="mailto:{{ user.email }}">{{ user.email }} </a></span> <br/>

<h5>  </h5>     <!-- espaco entre linhas.// -->

De Acordo <br/>

 <br/>

__________________________________________ <br/>
Representante Legal da Empresa ou Procurador <br/>
</p>
</font> 

</div>

</div>

</body>

<script>
  function CriaPDF() {
      var minhaTabela = document.getElementById('tabela').innerHTML;
      var style = "<style>";
      style = style + "table {width: 90%;font: 15px Arial;}";
      style = style + "table, th, td {border: solid 1px black; border-collapse: collapse;";
      style = style + "padding: 3px 3px;text-align: left;}";
      style = style + "</style>";
      var win = window.open('.', '.', 'height=1000,width=1000');
      win.document.write('<html><head>');
  win.document.write(style);                                     // INCLUI UM ESTILO NA TAB HEAD
      win.document.write('</head>');
      win.document.write('<body>');	
      win.document.write(minhaTabela);                          // O CONTEUDO DA TABELA DENTRO DA TAG BODY
      win.document.write('</body></html>');
      win.document.close(); 	                                         // FECHA A JANELA
      win.print();                                                            // IMPRIME O CONTEUDO
  }

</script>

</html>